/* Stylesheet Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a, button /* &c... */ {
  all: unset;
}

img {
  width: 100%;
  max-width: 300px;
  height: 0 auto;
}

/* HEADER */

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
}

#header .headerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header .title {
  font-size: 1.6rem;
}
#header li {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
#header li:hover {
  color: blue;
  cursor: pointer;
}
#header .nav-list-selected {
  color: blue;
}

@media (min-width: 500px) {
  #header-container {
    flex-direction: row;
    height: 20vh;
  }
}
@media (min-width: 1000px) {
  #header #navigation ul {
    display: flex;
    gap: 10px;
  }
  #header #navigation ul li {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}


/* FOOTER */
#footer ul {
  display: flex;
  justify-content: space-around;
}

#footer ul li {
  cursor: pointer;
}
#footer ul li:hover {
  color: blue;
}

@media (min-width: 500px) {
  #footer ul {
    padding: 0 60px;
    font-size: 1.4rem;
  }
}
@media (min-width: 1000px) {
  #footer ul {
    padding: 0 200px;
    font-size: 2rem;
  }
}


/* ABOUT SECTION */
#about {
  display: flex;
}

#about #about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about #about-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 90%;
  height: 60vh;
}

#about button {
  border: 1px solid black;
  padding: 5px;
  width: 200px;
  text-align: center;
}
#about button:hover {
  box-shadow: 0 0 1px 1px black;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 500px) {
  #about {
    display: flex;
    flex-direction: column;
  }
  #about #about-container {
    flex-direction: row;
    max-width: 95%;
  }
  #about #about-description {
    text-align: start;
  }
}
@media (min-width: 1000px) {
  #about {
    display: flex;
    flex-direction: column;
  }
  #about #about-container {
    flex-direction: row;
    max-width: 80%;
    align-self: center;
  }
  #about #about-description {
    text-align: start;
  }
}
@media (min-width: 1500px) {
  #about #about-container {
    max-width: 60%;
    gap: 50px;
  }
}


/* PORTFOLIO SECTION */

#portfolios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#portfolios .project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolios h2 {
  margin-bottom: 10px;
}

#portfolios .project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
  gap: 10px;
  width: 90%;
}

#portfolio button {
  border: 1px solid rgb(145, 144, 144);
  padding: 5px;
  width: 120px;
  text-align: center;
}
#portfolio button:hover {
  box-shadow: 0 0 1px 1px black;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 500px) {
  #portfolios {
    margin-bottom: 80px;
  }
  #portfolios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  #portfolios .project {
    position: relative;
  }
  #portfolios .project:hover {
    box-shadow: 0 0 1px 3px blue;
  }
  #portfolios-container .project {
    flex-basis: 48%;
  }
  #portfolios img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    max-width: inherit;
  }
  #portfolios .project-content {
    z-index: 1;
    color: white;
    font-weight: bold;
    background-color: rgba(19, 16, 16, 0.432);
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  #portfolios-container .project {
    flex-basis: 30%;
    gap: 20px;
  }
}


/* RESUME */

#resume #resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume #resume-container article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#resume #stack ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#resume #stack #front-end, #resume #stack #back-end {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 500px) {
  #resume #resume-container {
    height: 70vh;
    gap: 40px;
    justify-content: center;
  }
  #resume #resume-container #profs-wrapper #stack {
    display: flex;
    gap: 30px;
  }
  #resume #resume-container .stack-wrapper {
    border: 5px solid black;
    padding: 30px;
    margin-bottom: 30px;
  }
}


/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
}

#contact .contact-form {
  display: flex;
  flex-direction: column;
}

#contact .contact-form input {
  padding: 5px;
}

#resume-download {
  cursor: pointer;
}

[data-email-valid="true"], [data-message-valid="true"] {
  display: none;
}

/* Errors */
[data-email-valid="false"], [data-message-valid="false"] {
  display: inherit;
}

@media (min-width: 500px) {
  #contact {
    height: 70vh;
    align-items: center;
  }
  #contact-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #contact-container form input {
    font-size: 1.5rem;
    border: 2px solid black
  }
  #contact-container form #message {
    width: 500px;
    height: 300px;
    align-items: flex-start;
  }
}